<div class="align-self-md-center" id="main">
  <h3>Agregar producto</h3>
  <form (ngSubmit)="agregarProducto()" ngNativeValidate>
    <div class="mb-3">
      <label for="producto" class="form-label">Producto</label>
      <input
        type="text"
        class="form-control"
        id="producto"
        placeholder="Nombre de producto"
        [(ngModel)]="producto.producto"
        name="producto"
        autocomplete="off"
        required
      />
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <input
        type="text"
        class="form-control"
        id="descripcion"
        placeholder="Descripción del producto"
        [(ngModel)]="producto.descripcion"
        name="descripcion"
        autocomplete="off"
        required
      />
    </div>
    <div class="mb-3">
      <label for="foto" class="form-label">Foto</label>
      <input
        type="url"
        class="form-control"
        id="foto"
        placeholder="https://example.com"
        pattern="https://.*"
        size="30"
        [(ngModel)]="producto.foto"
        name="foto"
        autocomplete="off"
        required
      />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success">Agregar</button>
    </div>
  </form>
</div>
